<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../images/image.png" type="image/x-icon">
    <title>portfolio</title>
</head>
<body>
    <header id="cabeçalho">
        <h1>Sumary</h1>
        <nav>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </nav>
    </header>
    <section id="info">

    </section>
    <section id="competencias">
        <h2></h2>
        <div class="cards">
            <img src="" alt="">
            <h3></h3>
            <p></p>
        </div>
        <div class="cards">
            <img src="" alt="">
            <h3></h3>
            <p></p>
        </div>
        <div class="cards">
            <img src="" alt="">
            <h3></h3>
            <p></p>
        </div>
    </section>
</body>
</html>