<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../icon/laptop.svg" type="image/svg">
    <title>portfolio</title>
</head>
<body>
    <header id="cabeçalho">
        <div>
            <h1>Portfólio</h1>
            <nav>
                <a href="#info">Informações</a>
                <a href="#competencias">Competências</a>
                <a href="#contact">Contato</a>
            </nav>
        </div>
    </header>

    <section id="info">
        <img src="../images/eu.png" alt="Minha foto de perfil" class="profile-photo">
        <div id="infodiv">
            <h2>Quem sou eu?</h2>
            <p>Olá! Sou um desenvolvedor apaixonado por tecnologia, focado em criar soluções web modernas e eficientes. Com experiência em front-end e back-end, busco sempre aprender novas tecnologias e aprimorar minhas habilidades para entregar projetos de alta qualidade que unem design atraente e funcionalidade robusta.</p>
        </div>
    </section>

    <section id="competencias">
        <h2>Competências</h2>
        <div id="cardsdiv">
            <div class="cards">
                <img src="../images/html.svg" alt="Logo HTML" class="cardsicon">
                <h3>HTML5</h3>
            </div>
            <div class="cards">
                <img src="../images/css.svg" alt="Logo CSS" class="cardsicon">
                <h3>CSS</h3>
            </div>
            <div class="cards">
                <img src="../images/python.svg" alt="Logo Python" class="cardsicon">
                <h3>Python</h3>
            </div>
        </div>
    </section>

    <section id="contact">
        <h2>Entre em contato</h2>
        <div class="contact-container">
            <div class="contact-item">
                <img src="../images/insta.svg" alt="Logo Instagram" class="contact-icon">
                <a href="https://www.instagram.com/igorgmnz" target="_blank" class="contact-link">igorgmnz</a>
            </div>
            <div class="contact-item">
                <img src="../images/whats.svg" alt="Logo WhatsApp" class="contact-icon">
                <p>(83) 99619-3509</p>
            </div>
            <div class="contact-item">
                <img src="../images/email.svg" alt="Logo Email" class="contact-icon">
                <a href="mailto:igorgmnzmonte@gmail.com" class="contact-link">igorgmnzmonte@gmail.com</a>
            </div>
        </div>
    </section>
</body>
</html>