<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../images/softicon.png" type="image/png">
    <title>portfolio</title>
</head>
<body>
    <header id="cabeçalho">
        <div>
            <h1>Sumary</h1>
            <nav>
                <a href="">Informações</a>
                <a href="">Competencias</a>
                <a href="">Contato</a>
            </nav>
        </div>
    </header>
    <section id="info">
        <img src="../images/eu.png" alt="my photo">
        <div id="infodiv">
            <h2>Quem sou eu?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto esse aut in et laborum ad cumque quibusdam inventore tempora voluptatum, ducimus voluptates dolorum atque nam, quo harum fugit ea.</p>
        </div>
    </section>
    <section id="competencias">
        <h2>Competências</h2>
        <div id="cardsdiv">
            <div class="cards">
                <img src="../images/html.png" alt="html logo" class="cardsicon">
                <h3>HTML</h3>
            </div>
            <div class="cards">
                <img src="../images/css.png" alt="css logo"  class="cardsicon">
                <h3>CSS</h3>
            </div>
            <div class="cards">
                <img src="../images/python.png" alt="python logo" class="cardsicon">
                <h3>Python</h3>
            </div>
        </div>
    </section>
    <section id="contact">
        <h2>Entre em contato:</h2>
        <div>
            <img src="../images/whats.png" alt="whatsapp logo">
            <p>(83) 99619-3509</p>
        </div>
        <div>
            <img src="../images/email.png" alt="email logo">
            <p>email:igorgmnzmonte@gmail.com</p>
        </div>
    </section>
</body>
</html>